:root {
  --primary: #3c5799;
  --secondary: #889bce;
}

.fa-square {
  color: var(--secondary);
  font-size: 20px;
}

.fa-check-square {
  color: var(--primary);
  font-size: 20px;
}

.tabulator-header-popup-button {
  font-size: 20px;
}
