.map-container {
  height: 100vh;
  overflow-y: hidden;
}

#ecoregion_map {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .ecoregion-popup {
  color: #3c5799;
  transform: translate(50px, 80px) !important;
  position: absolute !important;
  font-size: 20px;
}
.ecoregion-popup:before {
  border: none !important;
} */

.spinner-container {
  position: absolute;
  z-index: 999;
  color: #3c5799;
  opacity: 0.8;
}

.leaflet-interactive {
  outline: none;
}

.leaflet-control h1 {
  text-align: center;
}

.l3-layer-overlay:hover {
  fill-opacity: 0.8;
  stroke-width: 4;
}

.l4-layer-overlay:hover {
  fill-opacity: 0.8;
  stroke-width: 4;
}

.leaflet-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-control-layers-list {
  font-size: 14px;
}

.leaflet-control-attribution {
  flex-direction: row;
}

.leaflet-sidebar p {
  font-size: 18px;
}

#level-3-loading {
  background-color: white;
  position: absolute;
  z-index: 5000;
  right: 6px;
  top: 4px;
  padding: 0px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#level-3-loading i {
  margin-right: 6px;
}

#level-4-loading {
  background-color: white;
  position: absolute;
  z-index: 5000;
  right: 6px;
  top: 50px;
  padding: 0px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#level-4-loading i {
  margin-right: 6px;
}
#chapter-loading {
  background-color: white;
  position: absolute;
  z-index: 5000;
  right: 6px;
  top: 100px;
  padding: 0px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#chapter-loading i {
  margin-right: 6px;
}

.chapter-title {
  font-size: 22px;
  margin-bottom: 0px;
}

.chapter-tag {
  font-size: 16px;
}

.chapter-link {
  font-size: 18px;
  text-decoration: none;
  margin-top: 4px;
}

.chapter-link:hover {
  text-decoration: underline;
}

/*Legend specific*/
.legend-toggle {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: #3c5799;
  cursor: pointer;
}
.legend-toggle:hover {
  background: #889bce;
}

.lvl3legend,
.lvl4legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: #555;
  z-index: 99999;
}
.lvl3legend h4,
.lvl4legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: #777;
}

.lvl3legend span,
.lvl4legend span {
  position: relative;
  bottom: 3px;
}

.lvl3legend i,
.lvl4legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}

.lvl3legend i.icon,
.lvl4legend i.icon {
  background-size: 18px;
  background-color: rgba(255, 255, 255, 1);
}

.legend-key {
  width: 100%;
  display: flex;
}
