#ecoregion_map {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .ecoregion-popup {
  color: #3c5799;
  transform: translate(50px, 80px) !important;
  position: absolute !important;
  font-size: 20px;
}
.ecoregion-popup:before {
  border: none !important;
} */

.spinner-container {
  position: absolute;
  z-index: 999;
  color: #3c5799;
  opacity: 0.8;
}

.leaflet-interactive {
  outline: none;
}

.leaflet-control h1 {
  text-align: center;
}

.l3-layer-overlay:hover {
  fill-opacity: 0.8;
  stroke-width: 4;
}

.l4-layer-overlay:hover {
  fill-opacity: 0.8;
  stroke-width: 4;
}

.leaflet-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-sidebar p {
  font-size: 18px;
}

#level-3-loading {
  background-color: white;
  position: absolute;
  z-index: 5000;
  right: 6px;
  top: 4px;
  padding: 0px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#level-3-loading i {
  margin-right: 6px;
}

#level-4-loading {
  background-color: white;
  position: absolute;
  z-index: 5000;
  right: 6px;
  top: 50px;
  padding: 0px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#level-4-loading i {
  margin-right: 6px;
}
